.image__container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.test {
  max-height: 500px;
  max-width: 100%;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .test {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .test {
    height: 200px;
  }
}
